@model IEnumerable<TextilDecor.Data.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Prodavnica</h2>

@foreach (var item in Model)
{
    @Html.Partial("_ProductView", item)
}
<hr />
<div class="btn-group" role="link" aria-label="...">
    <button type="button" class="btn btn-default">@Html.ActionLink("Add product", "Create")</button>
</div>
