@{
    ViewBag.Title = "Home Page";
}

@*Jumbotron section to introduce to product*@
<section class="jumbotron text-center">
    <div class="container">
        <h1>Zastitne maske i viziri</h1>
        <p class="lead text-muted">Dobrodosli. Mi smo zajednica proizvodjaca zastitnih maski i vizira. Nase proizvode proizvodimo u Srbiji i sertifikovani smo od strane zvanicne institucije.</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Poruci</a>
        </p>
    </div>
</section>

<div class="row">
    <div class="col-lg-4">
        <div class="bs-component">
            <div class="card mb-3">
                <h3 class="card-header">Card header</h3>
                <img style="height: 300px; width: 100%; display: block;" src="~/Content/Images/face-mask.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <a href="#" class="btn btn-primary my-2">Poruci</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="bs-component">
            <div class="card mb-3">
                <h3 class="card-header">Card header</h3>
                <img style="height: 300px; width: 100%; display: block;" src="~/Content/Images/vizir.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <a href="#" class="btn btn-primary my-2">Poruci</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="bs-component">
            <div class="card mb-3">
                <h3 class="card-header">Card header</h3>
                <img style="height: 300px; width: 100%; display: block;" src="~/Content/Images/textilleMaskDesign.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <a href="#" class="btn btn-primary my-2">Poruci</a>
            </div>
        </div>
    </div>
</div>